:root {
    /* Surface Colors */
    --background-color: #573824;
    --surface-color: #F0E8C2;
    
    /* Text Colors */
    --text-color-primary: #291B1A;
    --text-color-secondary: #573A37;
    --text-color-primary: #F0E8C2;

}