* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Alice", serif;
    line-height: 150%;
    color: var(--text-color-secondary);

    /* Surface Colors */
    --background-color: #573824;
    --surface-color: #F0E8C2;
    
    /* Text Colors */
    --text-color-primary: #291B1A;
    --text-color-secondary: #573A37;
    --text-color-on-bg: #F0E8C2;

}

body {
    background-image: url(imagens/cupcake-background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

div#page {
    box-sizing: border-box;
    
    width: 800px;
    /* height: 1440px; */

    background-color: var(--surface-color);
    border-radius: 24px;

    margin: 48px auto;
    padding: 24px;
}

div#page > img {
    border-radius: 16px;
}

main {
    padding: 24px;
}

section#about p + p {
    margin-top: 12px;
}

section + section {
    margin-top: 24px;
}

section#ingredients > ul {
    padding-left: 24px;
}

h1 {
    line-height: 140%;
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

h1, h2 {
    margin-bottom: 4px;
    color: var(--text-color-primary);
    line-height: 150%         ;
}


footer > p {
    text-align: center;
}